BattleTank/Content/Tank/tank_fbx_Turret.uasset
BattleTank/Content/Tank/tank_fbx_Track.uasset
BattleTank/Content/Tank/tank_fbx_Body.uasset
BattleTank/Content/Tank/tank_fbx_Barrel.uasset
BattleTank/Content/Blueprints/Tank_BP11.uasset
BattleTank/BattleTank.VC.db
BattleTank/Content/Blueprints/Tank_BP.uasset
